<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{file_name}}</title>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="https://biisal.github.io/Resources/mply.css">
    <!-- <link rel="stylesheet" href="./mply.css"> -->
    <link rel="stylesheet" href="https://biisal.github.io/Resources/playerCss.css">
    <link rel="stylesheet" href="https://aeditx03.github.io/resources/StreamCSS.css">
    <link rel="stylesheet" href="https://aeditx03.github.io/resources/playerCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <nav>
        <div class="nleft">
            <a href="https://telegram.me/Geeky_Network">
                <!-- if u are trying to change the header name please remove the title text from bottom line  -->
                <h4 id="heading" style="z-index: 100;" class="magnet">ANIFLIX</h4>
            </a>
        </div>
        <div class="nryt">
            <a class="home-btn magnet" href="#main" onclick="toggleWidthnav(this)">HOME</a>

            <a href="#sec1" class="about-btn magnet" onclick="toggleWidthnav(this)">ABOUT</a>
        </div>
    </nav>
    <center>
        <div class="about-nav">
            <a href="#sec1" class="wlcm magnet" onclick="toggleWidth(this)">WELCOME</a>
            <a href="#sec2" class="abt-chnl magnet" onclick="toggleWidth(this)">CHANNELS</a>
            <a href="#sec3" class="magnet bot-btn" onclick="toggleWidth(this) , bot_btn_clicked()">BOTS</a>
            <a href="#sec4" class="magnet contact-btn" onclick="toggleWidth(this)">LET'S TALK</a>
        </div>
    </center>

    <div class="outer">
        <div class="inner">
            <div class="main" id="main">
                <video id="player" class="player" src="{{file_url}}" type="video/mp4" playsinline controls
                    width="100%"></video>
                <div class="player"></div>
                <div class="file-name">
                    <h4>File name : </h4>
                    <br>
                    <p id="myDiv">{{file_name}}</p>
                </div>
                <div class="downloadBtn">
                    <button class="magnet" onclick="vlc_player()"><img src="https://i.postimg.cc/15TQ4y7B/vlc.png"
                            alt="">watch in VLC PLAYER</button>
                    <button class="magnet" onclick="mx_player()"><img src="https://i.postimg.cc/sx4Msv4T/mx.png"
                            alt="">watch in MX PLAYER</button>
                    <button class="magnet" onclick="playit_player()"><img src="https://i.postimg.cc/RVGWYJFF/playit.png"
                            alt="">watch in PLAYit
                        PLAYER</button>
                    <button class="magnet" onclick="km_player()"><img src="https://i.postimg.cc/wT9tFQ9Z/km.png"
                            alt="">watch in KM PLAYER</button>
                    <button class="magnet" onclick="s_player()"><img src="https://i.postimg.cc/XYJr6NGg/s.png"
                            alt="">watch in S PLAYER</button>
                    <button class="magnet" onclick="hd_player()"><img src="https://i.postimg.cc/rFT43LNh/hd.png"
                            alt="">watch in HD
                        PLAYER(4K)</button>
                    <button class="magnet" onclick="bisalDownload()"><img style="height: 35px;"
                            src="https://i.postimg.cc/Zncc9YLq/Pngtree-download-icon-3581467.png" alt="">download video
                    </button>
                </div>

            </div>
            <div class="abt">
                <div class="about">
                    <div class="about-dets">
                        <div class="abt-sec" id="sec1" style="padding: 160px 30px;">
                            <h1 style="text-align: center;">WELCOME TO OUR                  <Span>STREAMING WEBSITE</Span></h1>
                            <p style="text-align: center; line-height: 2;word-spacing: 2px;  letter-spacing: 0.8px;">
                                We're
                                thrilled to have <span>you</span> here.
                                Get ready for an
                                amazing <span>experience</span>
                                filled with <span>entertainment</span>, <span>fun</span>, and <span>surprises</span>.
                                Grab
                                your snacks, sit back, and <span>enjoy</span> the show !
                            </p>
                        </div>
                        <div class="abt-sec" id="sec2">
                            <h1>OUR ALL <span>CHANNELS</span> LIST</h1>
                            <div class="links chnl-link">
                                <a class="magnet" href="https://telegram.me/aniflixClou"><button> MAIN 
                                        CHANNEL</button></a>
                            </div>
                        </div>
                        <div class="abt-sec" id="sec3">
                            <h1>OUR ALL <span>BOTS</span> LIST</h1>
                            <div class="links bot-link">
                                <a class="magnet" href="https://telegram.me/aniflixClou"><button>BOTS
                                        CHANNEL</button></a>
                            </div>
                        </div>
                        <div class="abt-sec" id="sec4">
                           
                            <p style="text-align: center;">YOU CAN <Span>TALK</Span> WITH US FOR YOUR <Span>SUPPORT</Span> AND YOU CAN <Span>REPORT</Span> THROUGH
                                INSTAGRAM</p>
                            <div class="links contact">
                                <a href="https://www.instagram.com/gojo22k"><button>CONTACT US</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="mid">
                <h1 class="mid-text">VISIT <a href="#sec3" onclick="bot_btn_clicked()"><span>OUR BOT</span></a>
                    FOR
                    MORE
                    INFO</h1>
            </div>

            <div class="last-text">
                <p style="font-weight: 500;">
                    Welcome to our online streaming platform! Our website allows users to generate streamable links for
                    various files using Telegram bots. Please note that we are not responsible for the content shared or
                    streamed through our service. Users are encouraged to respect copyright laws and adhere to our
                    community
                    guidelines. Enjoy easy, hassle-free file streaming.
                </p>
            </div>
            <center>
                <div class="Disclaimer">
                    <h3>DISCLAIMER ⚠️</h3>
                    <button onclick="showDes()">🔻</button>
                    <div class="Disclaimer-inner">
                        ANIFLIX is
                        a platform designed to provide
                        users
                        with the ability to watch and upload videos online free.
                        Users have the opportunity to earn money from their uploaded video content. However, we would
                        like
                        to
                        clarify certain aspects of our service:
                        <hr>
Nᴏᴛᴇ: Iғ Yᴏᴜ Tʜɪɴᴋ Tʜᴀᴛ Aɴʏ Cᴏɴᴛᴇɴᴛ Uᴘʟᴏᴀᴅᴇᴅ Oɴ Tʜɪs Sᴛʀᴇᴀᴍɪɴɢ Sɪᴛᴇ Bʏ Usᴇʀs Usɪɴɢ Oᴜʀ Bᴏᴛ Iɴғʀɪɴɢɪɴɢ Yᴏᴜʀ Rɪɢʜᴛs. Tʜᴇɴ Yᴏᴜ Cᴀɴ Rᴇᴏ̨ᴜᴇsᴛ Tᴏ Bᴏᴛ Aᴅᴍɪɴ Fᴏʀ Rᴇᴍᴏᴠᴀʟ Oғ Yᴏᴜʀ Cᴏɴᴛᴇɴᴛ
                        <hr>
                        <b>Copyright Infringement ANIFLIX
                        Does not
                        condone or support copyright infringement. Users are
                        responsible for ensuring they have the necessary rights and permissions for the content they
                        upload.
                        <hr>
                        <b>Content Guidelines</b>: We have strict guidelines against explicit content, violence, and any
                        material
                        that
                        may be considered offensive. Users are expected to adhere to these guidelines, and content found
                        in
                        violation may be removed.
                        <hr>
                        <b>Report Functionality</b>: Users and visitors are encouraged to report any videos that they
                        believe
                        violate
                        copyright, contain explicit content, violence, or other issues. We take these reports seriously
                        and
                        will
                        investigate and take appropriate action.
                        <hr>
                        <b>Contact Us</b>: To report any issues or links, please contact us on Telegram at Our <a
                            href="https://t.me/aniflixClou" style="color: rgb(0, 217, 255);">Support Team.</a>
                        <hr>
                        Please be aware that while we strive to maintain a safe and enjoyable environment for our users,
                        ANIFLIX
                        cannot be held responsible for the actions of individual users. We encourage responsible and
                        ethical
                        use of
                        our platform.
                        <hr>
                        By using ANIFLIX, you agree to abide by
                        our
                        guidelines and policies. We reserve the right to remove or
                        block access to any content or users that violate these policies.
                        <hr>
                        Thank you for using ANIFLIX responsibly and helping us maintain a positive online
                        community.<br /><br />
                    </div>
                </div>
            </center>

            <center>
                <div class="copyright">
                    <h5 class="text-center">Copyright © 2023 <a href="https://aniflix.clou"><span
                                style="font-weight: 700;">ANIFLIX</span></a>. All
                        Rights Reserved.</h5>
                    <div class="icons">
                        <a href="https://github.com/gojo22k"><i class="fa-brands fa-github fa-lg"></i></a>
                        <a href="https://t.me/aniflixClou"><i class="fa-brands fa-telegram fa-lg"></i></a>
                        <a href="https://www.instagram.com/gojo22k"><i
                                class="fa-brands fa-square-instagram fa-lg"></i></a>
                    </div> 
                    <h4 style="font-weight: 600;">This Page Is Made By <a href="https://www.instagram.com/gojo22k"><span>Ankit</span></a></h4>
                </div>
            </center>
        </footer>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const uncopyableElement = document.querySelector(".uncopyable");

        uncopyableElement.addEventListener("selectstart", function (event) {
            event.preventDefault();
        });
    });
</script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
<script src="https://biisal.github.io/Resources/mply.js"></script>
<!-- <script src="mply.js"></script> -->


</html>
