pyrofork
tgcrypto 
requests 
bs4 
shortzy 
datetime 
pytz 
aiohttp
yt-dlp
youtube-dl
requests
ytthumb
jinja2
apscheduler
pyshorteners
colorama
NumPy 
wheel 
ujson 
wget 
pytz
aiofiles
hachoir
python-decouple 
ffmpeg
youtube_search
pymongo
motor==3.5.1
marshmallow 
umongo
PyLeaves
youtube-search-python
opencv-python-headless
googletrans 
telegraph
python-dotenv 
gTTS
speedtest
humanize
Pillow
psutil
dnspython==2.3.0
ffmpeg-python>=0.2.0
pyromod==1.5
openai==0.25.0
git+https://github.com/Joelkb/cinemagoer
